@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,300");
@import url("https://fonts.googleapis.com/css?family=Lato:400,300,300italic");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

body {
  /*background-color: #E9EAEE;*/
  background-color: #f2f2f2;
}

iframe {
  width: 100vw;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 100vh;
}

#footer .row div {
  text-align: left;
  font-size: 12px;
}

div#footer.container {
  border-top-style: solid;
  border-top-color: #007fff;
  width: 100vw;
  background-color: #afb3c2;
  border-top-width: 3px;
}

#footer div {
  padding: 10px;
}